{% extends 'base.html' %}
{% block content %}
    <!-- edit profile section -->
    <section id="register-page" class="content auth">
        <!-- edit profile form -->
        <form method="post" id="register" action="{% url 'edit profile' %}">
            <div class="container">
                <!-- Edit Profile paragraph -->
                <h1>Edit Profile</h1>
                {{ form }}

                <button type="submit" class="btn submit">Edit Profile</button>
                {% csrf_token %}
            </div>
        </form>
    </section>

{% endblock %}