{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static '/images2/library.jpg' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static '/css2/styles.css' %}">
    <title>Online Books Library</title>
</head>

<body>
<div id="container">


    {% block content %}
    {% endblock %}

    <footer id="site-footer">
        <p>Python Web Basics Retake Exam @SoftUni</p>
    </footer>
</div>
</body>

</html>